/* ----------------------------- start variable ----------------------------- */
:root {
  --main-color: #ea0f1e;
  --sec-color: #e45826;
  --back-cl: #1d1d1d;
}

/* ------------------------------ End variable ------------------------------ */

/* --------------------------- Start Global rules --------------------------- */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--back-cl);
}
.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

/* Small */

@media (max-width: 400px) {
  .container {
    width: 390px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */

@media (min-width: 992) {
  .container {
    width: 970px;
  }
}

/* large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  scroll-snap-align: start;
}

.wrapper {
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

/* ---------------------------- End Global rules ---------------------------- */
/* -------------------------------- Start Nav ------------------------------- */

.nav .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-items: center;
}

.logo img {
  width: 120px;
  transition: 0.2s;
}

.nav .links ul {
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav .links ul li {
  cursor: pointer;
}
.nav .links ul li a {
  padding: 10px;
  cursor: pointer;
  color: #fff;
}

.nav .links ul li:hover a {
  background-color: var(--main-color);
  border-radius: 5px;
}

.nav .links ul li:first-child a {
  font-size: 1em;
  border-radius: 5px;
}
/* --------------------------------- End Nav -------------------------------- */

/* ------------------------------ Start header ------------------------------ */
.landing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  align-items: center;
  margin-bottom: 200px;
}

.header .container .social {
  position: absolute;
  top: 270px;
  right: -155px;
  transform: rotate(-90deg);
}
.header .container .social a {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
}

.header .container .im {
  position: relative;
}

.header .container .im .blob-box {
  position: absolute;
  width: 600px;
  height: 400px;
  /* left: 50px; */
  top: 171px;
  z-index: 1;
  transform: rotate(80deg);
  left: -150px;
}
.header .container .im .blob {
  height: 1000px;
  z-index: auto;
}
.header .container .header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
}
.header .container .header-text .hallo p {
  color: rgb(39, 39, 39);
  font-size: 10em;
  padding: 0;
  margin: 0%;
}

.header .container .hallo p:first-child {
  color: var(--main-color);
  font-size: 18em;
  padding: 0;
  margin: 0px;
  transition: 0.5s;
}

.header .container .hallo p:first-child:hover {
  transform: scale(1.1);
}

.header .container .hallo p:nth-child(2) {
  color: rgb(39, 39, 39);
  padding: 0;
  margin-top: 60px;
  transition: all 0.2s;
}

.header .container .hallo p:nth-child(2):hover {
  transform: rotate(-4deg);
}

.header .container .me {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1em;
  margin: 0 auto;
  text-align: center;
  line-height: 1.4;
}

.header .container .me h1 {
  color: var(--main-color);
  font-size: 2.5em;
  margin: 0px 0px;
}

.header .container .me p {
  color: #fff;
  font-size: 2em;
  margin: 0px 0px;
}

.header .container .im {
  position: relative;
  width: 500px;
  height: 500px;
  left: 50px;
  bottom: 90px;
}

.header .container .im .blob-box .blob {
  position: absolute;
  top: 10px;
  left: 100px;
  width: 100%;
}

.header .container .im img {
  max-width: 550px;
  margin: 5px auto;
  transition: all 0.5s;
  position: absolute;
  top: 30px;
  right: -53px;
  z-index: 1;
  filter: grayscale(100%);
}

.header .container img:hover {
  transform: scale(1.05);
  filter: grayscale(0%);
}

.header .container .hallo span {
  font-size: 8em;
  color: var(--main-color);
}

/* ------------------------------- End header ------------------------------- */

/* ------------------------------- Start about ------------------------------ */

				.about-me .container {
				display: flex;
				height: 100vh;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				position: relative;
				padding-bottom: 50px;
				margin-top: 10px;
				margin-bottom: 75px;
				overflow: hidden;
				transition: all 0.5s ease-in-out;
				}

				.about-me h1 {
				text-align: center;
				font-size: 60px;
				color: var(--main-color);
				margin: 10px auto;
				padding: 5px;
				display: block;
				}

				.about-me .container > img {
				position: absolute;
				top: 130px;
				right: 230px;
				width: 130px;
				transform: rotate(340deg);
				}
				.about-me .container .about-text {
				max-width: 900px;
				letter-spacing: 1.2px;
				line-height: 1.6;
				background-color: rgb(255, 218, 219);
				border-radius: 50px;
				padding: 20px 10px;
				flex: 1;
				border: 5px solid var(--main-color);
				}

				.about-me .container .image img {
				width: 200px;
				height: 200px;
				border-radius: 50%;
				position: absolute;
				top: 63px;
				left: 492px;
				border: 5px solid var(--main-color);
				transition: all 0.5s;
				}
				.about-me .container .image img:hover {
				transform: scale(1.2) rotate(-10deg);
				}

				.about-me .container .about-text h2 {
				font-size: 2em;
				color: var(--main-color);
				margin: 0 0;
				font-weight: 300px;
				}

				.about-me .container p {
				font-size: 20px;
				color: var(--back-cl);
				padding: 10px;
				font-weight: 300px;
				}

				/* -------------------------------- End about ------------